*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.main_box{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); 
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.sidebar_menu .btn_two i{
    position: absolute;
    left: 275px;
    color: grey;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu a,i{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5); 
}
.btn_one i:hover{
    font-size: 50px;
    transition: all 0.3s linear;
}
.btn_two i:hover{
    font-size: 40px;
    transition: all 0.3s linear;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.3s linear;
}
#check:checked ~.sidebar_menu{
    left:0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}