h2{
    text-align: center;
    font-family: spartan;
    color: #ffa511;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: normal;
    text-decoration: double underline teal;
    text-transform: uppercase;
}