div{
    height: 500px;
    width: 700px;
    background-image: url("https://plus.unsplash.com/premium_photo-1686255006386-5f58b00ffe9d?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    margin: 20px auto;
    color: aqua;
    text-align: center;
    padding: 50px;
}
div:nth-of-type(2n){
    color: blueviolet;
}
div:nth-of-type(3n){
    color: burlywood;
}
#contain{
    background-size: contain;
}
#cover{
    background-size: cover;
}
#auto{
    background-size: auto;
}