/* .card{
    height: 200px;
    width: 200px;
    margin: 2px; 
    display: inline-block;
    border: 2px solid black;
}
img{
    width: 100%;
}  */
.card{
    width:200px;
    height: 225px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 5px 10px black;
    border-radius: 5px;
    transition: 1s;
}
h3{
    text-decoration: underline;
}
img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.desc{
    padding-left: 10px;
    border: 2px dashed blueviolet;
    border-bottom: none ;
}
.card:hover{
    box-shadow: 0px 10px 18px black;
}