div{
    height: 100px;
    width: 150px;
    border: 2px solid black;
    background-color: rgb(202, 11, 103);
    text-align: center;
    margin-top: 20px;
}
div:nth-of-type(2n){
    background-color: blueviolet;
}
div:nth-of-type(3n){
    background-color: rgb(55, 43, 226);
}
#one:hover{
    transform: rotate(45deg);
}
#two:hover{
    transform: scale(0.5);
}
#three:hover{
    transform: skew(30deg);
}
#four:hover{
    transform: translate(30px);
}