div{
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    background-color: aqua;
    transition: margin-top 2s ease-out 0.15s;
}
div:hover{
    box-shadow: 0px 20px 15px black;
    margin-top: 400px;
    background-color: blueviolet;
    border-radius: 50%;
}
