div{
    height: 200px;
    width: 200px;
    background-color: green;
    margin: 50px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
#static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}
#relative{
    background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;
}
#absolute{
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 100px;
}
#fixed{
    background-color: yellow;
    position: fixed;
    top: 100px;
    left: 100px;
}