.outer{
    height: 400px;
    width: 800px;
    background-color: yellow;
    display: inline-grid;
    /* grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px 20px;
    justify-items: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 50px;
    background-color: aqua;
    text-align: center;
    
}
#one{
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/3;
    grid-column: 1/3;
}