div{
    height: 200px;
    width: 800px;
    background-color: azure;
    border: 2px solid black;
}
@media (width:400px){
    div{
        background-color: blue;
        color: aliceblue;
    }
}
@media (min-width:500px){
    div{
        background-color: aqua;
        color: brown;
    }
}
@media (max-width:200px){
    div{
        background-color: blueviolet;
        color: aliceblue;
    }
}
@media (min-width:200px) and (max-width:300px){
    div{
        background-color: chocolate;
        color: darkblue;
    }
}