.grid{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 900px;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
    
}
.grid div{
 background-color: pink;
 font-size: 1.5rem;
}
.head{
    grid-column: 1/span12;
}
.sidebar{
    grid-column: 1/span3;
    grid-row: 2/span10;

}
.navigation{
    grid-column: 4/span6;
    grid-row: 2 / span 1;
}
.ads{
    grid-column: 10/span3;
    grid-row: 2 / span 10;
}
.main {
grid-column: 4 / span 9;
grid-row: 3 / span 9;
}

.footer {
grid-column: 1 / span 12;
grid-row: 12 ;
}

@media (max-width: 720px) {
.head {
grid-column: 1 / span 12;
}
.sidebar{
    grid-column: 1/span3;
    grid-row: 3/span9;

}
.navigation{
    grid-column: 1/span12;
    grid-row: 2 / span 1;
}
.ads{
    grid-column: 1/span3;
    grid-row: 12 ;
}
.main {
grid-column: 4 / span 9;
grid-row: 3 ;
}

.footer {
grid-column: 4 / span 9;
grid-row: 12 ;
}
}


.loader {
border: 16px solid #f3f3f3;
border-top: 16px solid goldenrod;
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}